@media screen and (max-width: 768px){
    #footer-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px){
    #footer-content {
        grid-template-columns: repeat(1fr);
        padding: 3rem 2rem;
    }
}