:root {
    --color-neutral-0: #0e0c0e;
    --color-neutral-10: #171717;
    --color-neutral-20: #808080;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

* {
    font-family: 'Poltawski Nowy', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: var(--color-neutral-20);
}

footer {
    width: 100%;
    color: var(--color-neutral-40)
}

#footer-content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 3rem 3.5rem;
}

#footer-contacts {
    margin-bottom: 0.75rem;
}

#footer-social-media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-social-media .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#footer-social-media .footer-link i {
    font-size: 2.5rem;
}

#footer-social-media .footer-link:hover {
    opacity: 0.5;
}

#footer-copyright {
    background-color: var(--color-neutral-0);
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer-list .footer-link {
    color: var(--color-neutral-40);
}

.footer-list .footer-link:hover {
    opacity: 0.5;
}


#footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#footer-subscripe p {
    color: var(--color-neutral-30);
}